USE [BDHSLite]
GO
/****** Object:  Table [netsystempos].[ciudades]    Script Date: 28/5/2022 8:26:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [netsystempos].[ciudades](
	[id_ciudad] [int] IDENTITY(523,1) NOT NULL,
	[id_estado] [int] NOT NULL,
	[ciudad] [nvarchar](200) NOT NULL,
	[capital] [smallint] NOT NULL,
 CONSTRAINT [PK_ciudades_id_ciudad] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [netsystempos].[estados]    Script Date: 28/5/2022 8:26:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [netsystempos].[estados](
	[id_estado] [int] IDENTITY(26,1) NOT NULL,
	[estado] [nvarchar](250) NOT NULL,
	[iso_3166-2] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_estados_id_estado] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [netsystempos].[municipios]    Script Date: 28/5/2022 8:26:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [netsystempos].[municipios](
	[id_municipio] [int] IDENTITY(463,1) NOT NULL,
	[id_estado] [int] NOT NULL,
	[municipio] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_municipios_id_municipio] PRIMARY KEY CLUSTERED 
(
	[id_municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [netsystempos].[parroquias]    Script Date: 28/5/2022 8:26:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [netsystempos].[parroquias](
	[id_parroquia] [int] IDENTITY(1139,1) NOT NULL,
	[id_municipio] [int] NOT NULL,
	[parroquia] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_parroquias_id_parroquia] PRIMARY KEY CLUSTERED 
(
	[id_parroquia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [netsystempos].[ciudades] ON 

INSERT [netsystempos].[ciudades] ([id_ciudad], [id_estado], [ciudad], [capital]) VALUES (1, 1, N'Maroa', 0)
INSERT [netsystempos].[ciudades] ([id_ciudad], [id_estado], [ciudad], [capital]) VALUES (2, 1, N'Puerto Ayacucho', 1)
INSERT [netsystempos].[ciudades] ([id_ciudad], [id_estado], [ciudad], [capital]) VALUES (3, 1, N'San Fernando de Atabapo', 0)
GO
SET IDENTITY_INSERT [netsystempos].[ciudades] OFF
GO
SET IDENTITY_INSERT [netsystempos].[estados] ON 

INSERT [netsystempos].[estados] ([id_estado], [estado], [iso_3166-2]) VALUES (1, N'Amazonas', N'VE-X')
INSERT [netsystempos].[estados] ([id_estado], [estado], [iso_3166-2]) VALUES (2, N'Anzoátegui', N'VE-B')
INSERT [netsystempos].[estados] ([id_estado], [estado], [iso_3166-2]) VALUES (3, N'Apure', N'VE-C')
SET IDENTITY_INSERT [netsystempos].[estados] OFF
GO
SET IDENTITY_INSERT [netsystempos].[municipios] ON 

INSERT [netsystempos].[municipios] ([id_municipio], [id_estado], [municipio]) VALUES (1, 1, N'Alto Orinoco')
INSERT [netsystempos].[municipios] ([id_municipio], [id_estado], [municipio]) VALUES (2, 1, N'Atabapo')
INSERT [netsystempos].[municipios] ([id_municipio], [id_estado], [municipio]) VALUES (3, 1, N'Atures')
GO
SET IDENTITY_INSERT [netsystempos].[municipios] OFF
GO
SET IDENTITY_INSERT [netsystempos].[parroquias] ON 

INSERT [netsystempos].[parroquias] ([id_parroquia], [id_municipio], [parroquia]) VALUES (1, 1, N'Alto Orinoco')
INSERT [netsystempos].[parroquias] ([id_parroquia], [id_municipio], [parroquia]) VALUES (2, 1, N'Huachamacare Acanaña')
INSERT [netsystempos].[parroquias] ([id_parroquia], [id_municipio], [parroquia]) VALUES (3, 1, N'Marawaka Toky Shamanaña')
GO
SET IDENTITY_INSERT [netsystempos].[parroquias] OFF
GO
/****** Object:  Index [id_estado]    Script Date: 28/5/2022 8:26:16 a. m. ******/
CREATE NONCLUSTERED INDEX [id_estado] ON [netsystempos].[ciudades]
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [id_estado]    Script Date: 28/5/2022 8:26:16 a. m. ******/
CREATE NONCLUSTERED INDEX [id_estado] ON [netsystempos].[municipios]
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [id_municipio]    Script Date: 28/5/2022 8:26:16 a. m. ******/
CREATE NONCLUSTERED INDEX [id_municipio] ON [netsystempos].[parroquias]
(
	[id_municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [netsystempos].[ciudades] ADD  DEFAULT ((0)) FOR [capital]
GO
ALTER TABLE [netsystempos].[ciudades]  WITH NOCHECK ADD  CONSTRAINT [ciudades$ciudades_ibfk_1] FOREIGN KEY([id_estado])
REFERENCES [netsystempos].[estados] ([id_estado])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [netsystempos].[ciudades] CHECK CONSTRAINT [ciudades$ciudades_ibfk_1]
GO
ALTER TABLE [netsystempos].[municipios]  WITH NOCHECK ADD  CONSTRAINT [municipios$municipios_ibfk_1] FOREIGN KEY([id_estado])
REFERENCES [netsystempos].[estados] ([id_estado])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [netsystempos].[municipios] CHECK CONSTRAINT [municipios$municipios_ibfk_1]
GO
ALTER TABLE [netsystempos].[parroquias]  WITH NOCHECK ADD  CONSTRAINT [parroquias$parroquias_ibfk_1] FOREIGN KEY([id_municipio])
REFERENCES [netsystempos].[municipios] ([id_municipio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [netsystempos].[parroquias] CHECK CONSTRAINT [parroquias$parroquias_ibfk_1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'netsystempos.ciudades' , @level0type=N'SCHEMA',@level0name=N'netsystempos', @level1type=N'TABLE',@level1name=N'ciudades'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'netsystempos.estados' , @level0type=N'SCHEMA',@level0name=N'netsystempos', @level1type=N'TABLE',@level1name=N'estados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'netsystempos.municipios' , @level0type=N'SCHEMA',@level0name=N'netsystempos', @level1type=N'TABLE',@level1name=N'municipios'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'netsystempos.parroquias' , @level0type=N'SCHEMA',@level0name=N'netsystempos', @level1type=N'TABLE',@level1name=N'parroquias'
GO
